# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables and secrets
.env
.flaskenv
*.secret

# Distribution / packaging artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
.nosexy
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific temporary files
.DS_Store
Thumbs.db

# IDE / Editor folders (Optional but recommended)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
